@media screen and (orientation: portrait) {
  body {
    display: none;
  }

  .portrait-warning {
    display: block;
    color: red;
    font-size: 2em;
    text-align: center;
    margin-top: 50%;
  }
}


@media screen and (orientation: landscape) {
  .portrait-warning {
    display: none;
  }
}
